@import "../../scss/variables";

.page__filter {
  margin-top: 10px;
}

.page__asteroids {
  margin-top: 16px;
}

.page__footer {
  margin-top: 16px;
  margin-bottom: 24px;
}

@media (min-width: 700px) {
  .page__filter {
    margin-top: 26px;
  }

  .page__asteroids {
    margin-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .page__footer {
    margin-top: 40px;
    margin-bottom: 46px;
  }
}
