@import "../../scss/variables";
@import "../../scss/mixins";

.header__wrap {
  position: relative;

  padding-top: 21.5px;
  padding-bottom: 16px;

  border-bottom: 1px solid $border-dark;
}

.header__logo {
  @include hover-active;
}

.header__image {
  width: 199px;
  height: 19px;
}

.header__description {
  max-width: 414px;
  margin: 0;
  margin-top: 19.5px;
}

.header__navigation {
  margin-top: 13px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.header__item {
  margin-top: 6px;
}

.header__link {
  @include hover-active;

  margin-right: 24px;

  color: inherit;

  &--active {
    font-weight: 700;
    text-decoration: none;

    pointer-events: none;
  }
}

@media (min-width: 700px) {
  .header__wrap {
    display: grid;
    padding-top: 46px;
    padding-bottom: 22px;

    grid-template-columns: 414px 1fr;
  }

  .header__image {
    width: 298px;
    height: 28px;
  }

  .header__description {
    margin-top: 14.5px;

    grid-column-end: 2;
    grid-column-start: 1;
  }

  .header__list {
    justify-content: flex-end;
    margin-right: 4px;
  }

  .header__navigation {
    margin-top: 3px;

    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;
  }

  .header__link {
    margin: 0;
    margin-left: 29px;
  }
}
