//color-names
$black: #000000;
$white: #ffffff;
$royalblue: #186dd6;
$khaki: #cff37d;
$lightgreen: #7de88c;
$lightsalmon: #ffb199;
$crimson: #ff0844;

//color-types
$font-dark: $black;
$font-light: $white;
$border-dark: $black;
$safe-gradient: linear-gradient(90deg, $khaki 0%, $lightgreen 100%);
$danger-gradient: linear-gradient(90deg, $lightsalmon 0%, $crimson 100%);
$button: $royalblue;
$button-danger: $crimson;

//sizes
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 980px;
